<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Limiter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script th:src="@{/js/BudgetLimiter.js}"></script>
    <link th:href="@{/css/form.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar justify-content-between">
        <a class="navbar-brand linkNavbar" th:href="@{/}"><b>Budgetku</b></a>
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
        <div id="items">
            <a class="linkNavbar" th:href="@{/kategori/list}">List Kategori</a>
            <a class="linkNavbar" th:href="@{/budget/list}">List Budget</a>
            <a class="linkNavbar" th:href="@{/danakeluar}">List Dana Keluar</a>
            <a class="linkNavbar" th:href="@{/logout}">Logout</a>
        </div>
    </nav>

<div class="container justify-content-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">Budget successfully added!</div>
            </div>

            <h1>Budget Limiter</h1>

            <form method="POST" id="budget_form">
                <div class="form-group">
                    <label class="control-label" for="nominal_id"> Nominal </label>
                    <input autofocus="autofocus" class="form-control" id="nominal_id" name="nominal" required/>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label for="month">Month:</label>
                        <select class="form-select" id="month" name="bulanBerakhir">
                            <option selected>Januari</option>
                            <option>Februari</option>
                            <option>Maret</option>
                            <option>April</option>
                            <option>Mei</option>
                            <option>Juni</option>
                            <option>Juli</option>
                            <option>Agustus</option>
                            <option>September</option>
                            <option>Oktober</option>
                            <option>November</option>
                            <option>Desember</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="year">Year:</label>
                        <select class="form-select" id="year" name="tahunBerakhir"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="category_id"> Kategori </label>
                    <select class="form-select category_class" id="category_id" name="kategori">
                        <option value="nil" selected="selected">--</option>
                        <option value="loading">Getting categories...</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description_id"> Deskripsi </label>
                    <textarea autofocus="autofocus" class="form-control" id="description_id" name="deskripsi"
                              required></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
