<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catat Dana Keluar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{js/DanaKeluar.js}"></script>
    <link th:href="@{/css/form.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar justify-content-between">
        <a class="navbar-brand linkNavbar" th:href="@{/}"><b>Budgetku</b></a>
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
        <div id="items">
            <a class="linkNavbar" th:href="@{/kategori/list}">List Kategori</a>
            <a class="linkNavbar" th:href="@{/budget/list}">List Budget</a>
            <a class="linkNavbar" th:href="@{/danakeluar}">List Dana Keluar</a>
            <a class="linkNavbar" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
<div class="container justify-content-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">Sukses menambahkan ke dana keluar</div>
            </div>

            <h1>Catat Pengeluaran</h1>

            <form method="POST" id="danakel_form">

                <div class="form-group">
                    <label for="nominal">Nominal</label>:
                    <input type="text" class="form-control" id="nominal" name="nominal"
                           autofocus="autofocus" required/>
                </div>

                <!--                    <div class="form-group">-->
                <!--                        <label for="tanggal">Tanggal</label> :-->
                <!--                        <input autofocus="autofocus" class="form-control" id="tanggal" type="date" name="tanggal" required>-->
                <!--                    </div>-->

                <!--                    <div class="form-group">-->
                <!--                        <label class="control-label" for="category_id"> Kategori </label>-->
                <!--                        <select class="form-control category_class" id="category_id" name="kategori">-->
                <!--                            <option value="nil">Getting category data...</option>-->
                <!--                        </select>-->
                <!--                    </div>-->

                <div class="form-group">
                    <label class="control-label" for="budget_id"> Budget </label>
                    <select class="form-select category_class" id="budget_id" name="budget">
                        <option value="nil" selected="selected">--</option>
                        <option value="loading">Getting budgets...</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description_id"> Deskripsi </label>
                    <textarea autofocus="autofocus" class="form-control" id="description_id" name="deskripsi"
                              required></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>