<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <style>
        body{
            background-color: #C6FFC1;
        }
        .btn{
            background: #368D9B;
        }
    </style>
</head>
<body>
    <nav class="navbar justify-content-between">
        <a class="navbar-brand linkNavbar" th:href="@{/}"><b>Budgetku</b></a>
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
        <div id="items">
            <a class="linkNavbar" th:href="@{/kategori/list}">List Kategori</a>
            <a class="linkNavbar" th:href="@{/budget/list}">List Budget</a>
            <a class="linkNavbar" th:href="@{/danakeluar}">List Dana Keluar</a>
            <a class="linkNavbar" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
<div class="container text-center">
    <h1 class="m-5">Selamat Datang di Budgetku</h1>
    <!-- <h3>${email}</h3> -->
    <!-- <h3><a th:href="@{/users}">List of Users</a></h3>
    <h3><a th:href="@{/register}">Register</a></h3>
    <h3><a th:href="@{/login}">Login</a></h3> -->
    <h3 class="m-3"><a class="btn btn-primary btn-lg" th:href="@{/kategori}">Buat Kategori</a></h3>
    <!--        <h3 class="m-3"><a class="btn btn-primary btn-lg" th:href="@{/kategori/list-kategori}">List Kategori</a></h3>-->
    <h3 class="m-3"><a class="btn btn-primary btn-lg" th:href="@{/budget}">Buat Budget</a></h3>
    <!--        <h3 class="m-3"><a class="btn btn-primary btn-lg" th:href="@{/budget/list-budget}">List Budget</a></h3>-->
    <h3 class="m-3"><a class="btn btn-primary btn-lg" th:href="@{/danakeluar}">Catat Pengeluaran</a></h3>
</div>
</body>
</html>