<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Budget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script th:src="@{/js/ListBudget.js}"></script>
    <link th:href="@{/css/form.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar justify-content-between">
        <a class="navbar-brand linkNavbar" th:href="@{/}"><b>Budgetku</b></a>
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
        <div id="items">
            <a class="linkNavbar" th:href="@{/kategori/list}">List Kategori</a>
            <a class="linkNavbar" th:href="@{/budget/list}">List Budget</a>
            <a class="linkNavbar" th:href="@{/danakeluar}">List Dana Keluar</a>
            <a class="linkNavbar" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
<h1 class="text-center" id="title">List Budget</h1>

<div class="budget-result d-flex flex-wrap justify-content-center align-items-stretch"></div>

<!-- Template for ajax get response -->
<template id="budget-card-template">
    <div class="list-card m-2">
        <div class="d-flex justify-content-between align-items-center">
            <div class="">
                <h4 class="dark-color"></h4>
                <h6 class="text-muted"></h6>
            </div>
            <div class="">
                <h4 class="nominal"></h4>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <div class="">
                <i><p class="desc text-secondary mb-0"></p></i>
            </div>
            <div class="">
                <p class="summary mb-0"></p>
            </div>
        </div>
    </div>
</template>
</body>
</html>